@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/* global style  */

/* img{
    width:100%;
    height: 100%;
} */
/* this style for body  */
body{
    font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* this style for all sections  */
section{
    width:90%;
    margin:100px auto;
}

/* nav style start here  */
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    margin:0px auto;
    padding:30px 10px;
   
}

/* nav logo styel here  */

.logo{
    display: flex;
    align-items: center;
    gap:10px;
    cursor:pointer;
}

.logo h3{
    font-size:35px;
    font-weight: 800;
}
/* nav logo > span style here  */

.logo span{

    color:#ff5400;
}

/* nav-menu ul style here  */

.nav-menu ul{
    display:flex;
    gap:20px;
}

.nav-menu ul li{
    list-style: none;
    font-size:18px;
    font-weight:400;
}

.nav-menu ul li a{
    text-decoration: none;
    color:black;
}

.bar{
    display:none;
}
/* ===========================
=========================== */


/* header content style start here  */


.header-content{
    width:90%;
    margin:0px auto;
    padding:50px 10px;
    background:linear-gradient(45deg,rgba(27, 7, 31, 0.397),rgba(30, 7, 49, 0.432)),url(images/group1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    text-align: center;
}

.header-content h1{
    font-size:60px;
    color:rgb(255, 255, 255);
    font-weight: 800;
    padding:20px;
}

.header-content p{
    padding:20px;
    color:white;
    font-size:16px;
    font-weight: 400;
}

.header-input-btn{
   
   
    padding:30px;
    width:60%;
    margin:20px auto;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 10px;;
}

input{
    width:150px;
    padding:10px;
    border:none;
    outline:none;
    font-size:16px;
    font-weight: 400;
    color:white;
    border-radius: 5px;
}

.fa-btn{
    width:150px;
    padding:10px;
    border:none;
    outline:none;
    font-size:16px;
    font-weight: 400;
    color:white;
    border-radius: 5px;
    background:#ff5400;
    font-size:14px;
    font-weight: 400;
}

#select{
    padding:10px;
    background:white;
    border-radius: 5px;
    width:150px;
}

/* Header Section Style End Here  */
/* ===========================
=========================== */

/* section style start here  */

.tours{
    width:90%;
    margin:0px auto;
    padding:50px 10px;
    background:white;
    border-radius: 10px;
}

.tours-container{
    display: flex;
    gap:30px;
    padding:20px 10px;
}

.tours-content{

    width:50%;
}

.tours-imge{
    width:100%;
}

.tours-content h2{

    color:#131313;
    font-size: 40px;
    font-weight: 800;
    padding: 10px;
    


}

.tours-content p{
   
color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin:10px 0px 10px 0px
}
.tours-content ul li{
    
font-size: 16px;
font-weight: 400;
line-height: 26px;
color: rgba(19, 19, 24, 0.70);
margin-left:20px; 
}

.tours-btn{
    padding:20px;
    width:150px;
    border-radius: 8px;
    background:#ff5400;
    border:none;
    color:white;
    font-weight: 400;
}
.tours-imge img{
    width:100%;
    height: 100%;
    display: block;
}
.tours-content{
    width: 100%;
}

.tours-imge img{
    width: 100%;
    height: 100%;
}

/* =========================
========================  */
.destiniation{
    width:90%;
    margin:0px auto;
    padding:50px 10px;
    background:white;
    
}
.destiniation-container h1{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 10px;

}

.destiniation-container p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin:10px 0px 10px 0px;
    text-align: center;
}

.place-img-div img{
    width:100%;
    height: 100%;
}

.sestiniation-place-img{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin:50px auto;
    gap:10px;
   
    
}

#maldip{
    grid-column:span 6;
    grid-row:span 1;
    position: relative;
}
#indonesia{
    grid-column:span 6;
    grid-row:span 1;
}
#srilanka{
    grid-column:span 3;
    grid-row:span 1;
}

#america{
    grid-column:span 6;
    grid-row:span 1;
}
#kashmir{
    grid-column:span 3;
    grid-row:span 1;
}

#bangladesh{
    grid-column:span 4;
    grid-row:span 1;
}
#bandorbon{
    grid-column:span 8;
    grid-row:span 1;
}

.place-img-div{
    position:relative;
}
.place-img-div >h3{
    position: absolute;
}
.absolute{
    position: absolute;
    top: 50%;
    color:red;
    left: 50%;
    
}


/* ===============================
===============================  */


/* why chose me  */

.choose-me{
    width:90%;
    margin:0px auto;
    padding:50px 10px;
    background:white;
    border-radius: 10px;
}
.chose-me-card img{
    width:100px;
    height:100px;
    
}

.chose-me-container h1{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 10px;
    
}

.chose-me-container p{
   
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin:10px 0px 10px 0px;
    text-align: center;
    color: #131318;
}
.chose-me-card{
    border:1px slateblue solid;
    text-align: left;
    display:flex;
    flex-direction: column;
    justify-content: left;
 
    border: 1px solid rgba(251, 181, 99, 0.20);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
    padding:20px;
    justify-content: left;

    
    
}

.chose-me-card-div{
    display: grid;
    gap:20px;
    margin:50px auto;
    grid-template-columns:repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
#hotel{
    grid-column:span 6;
    grid-row:span 1;
}
#price{
    grid-column:span 6;
    grid-row:span 1;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
#location{
    grid-column: 4/ span 6;
    grid-row:span 1;
    
}

.chose-me-card h4{
          
    font-size:25px;
    margin:5px 0;
}

.chose-me-card p{
      text-align: left;
}

/* 
=========================
==========================  */

.parfect-place-container{
    display:flex;
    gap:40px;
 
    justify-content: center;
    align-items: center;
}

.parfect-place-contant{
    width: 100%;
}
.place-video-div{
    width: 100%;
    
}

.parfect-place-contant h3{
  
    font-size: 40px;
    font-weight: 800;
    padding: 10px;
}

.parfect-place-contant p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.place-ul{
   
    padding:30px 30px;;
    margin:0px;
    font-size:18px;
    font-weight: 600;
}

.button-place{
    padding:20px;
    width:150px;
    border-radius: 8px;
    background:#ff5400;
    border:none;
    color:white;
    font-weight: 400;
    margin:20px;
}


/* 
=================================
=================================== */



.newsletter{
    width:90%;
    margin:0px auto;
}
.newsletter-container{
    display: flex;
}

.newsleter-login-div{
   
    padding:20px;
    width: 100%;;
    margin:20px 10px;
}
.newseleter-img-div{
    width: 100%;
    margin:20px 10px;
}

.login-form{
    
    
}

.login-p{
    color: #5A5A5D;

   
    font-size: 16px;
  
    font-weight: 400;
    line-height: 26px;
}

.login-h2{
    color: #131318;


  font-size: 24px;
   font-weight: 800;

}

.login-form input{
    display: block;
    width: 80%;
    margin:20px;
    border-radius: 8px;
    height: 52px;
    background:rgba(19, 19, 24, 0.05);
    
}

.login-btn{
    padding:20px;
    width:150px;
    border-radius: 8px;
    background:#ff5400;
    border:none;
    color:white;
    font-weight: 400;
    margin:20px;
    width: 80%;
}
.newsleter-login-div{
    padding:20px;
    border-radius: 14px;
    background:white;
    border-radius: 16px;
    border: 1px solid #FF5400;
}



.newseleter-img-div{
    position:relative;
}

.discount {
            width: 324px;
            height: 120px;
            transform: rotate(-19.628deg);
            
             border-radius: 16px;
             background: #FF5400;
             text-align: center;
             position:absolute ;
             margin:-190px 250px -220px;
            }


.discount p{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.discount h4{
    color: white;
    font-size: 24px;
    font-weight: 800;
}
           



.footer{
    /* width: 100%; */
 
    background: rgba(19, 19, 24, 0.05);
    color:black;
    text-align: center;
    padding:50px;
    text-align: center;
}

.fotter-logo{
    display: flex;
    
    align-items: center;
    justify-content: center;
    paddign:20px;
}

.f-p{
    
       margin:20px 20px;
}

.fotter-ul ul{
  
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}

.fotter-ul ul li{
    list-style: none;
}

.fotter-ul{
    border-bottom:2px solid #ccc;
    padding:30px;
    margin:0px auto;
}
.tamim{
    padding:10px;
    margin:10px;
}